@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@600&display=swap");

/* 
Heb geprobeer om de px te verminderen, maar op een of ander manier kwam het toch anders uit
(via een converter). Ik onthou het voor de volgende keer ;)
 */

html {
  scroll-behavior: smooth;
  box-sizing: border-box; /*opzoeken in slides-> correcter*/
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  padding: 0;
  background: rgb(244, 238, 237, 0.75);
  background-image: url("../files/img/tile2.png");
  background-repeat: repeat;
}
/* ==========================
         NAVIGATION  
  ==========================*/
#header {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  transition: 0.5s;
}

#logo {
  margin-top: 0.2em;
  width: 100%;
}
.logo-btn {
  width: 140px;
  padding: 10px;
  margin: 0;
}
#nav {
  /* Aanpassen */
  margin: 0.15em auto;
  display: flex;
  flex-direction: row;
  max-width: 1200px;
  justify-content: space-between;
}
#nav-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.menu-item {
  margin-top: 30px;
  margin-bottom: 10px;
  padding: 10px 10px 0 0;
  list-style-type: none;
}

.nav-btn {
  padding: 10px;
  text-decoration: none;
  text-align: center;
  color: #e3cdad;
}

.nav-btn:hover {
  background: linear-gradient(
    180deg,
    rgb(80, 80, 80, 0) 0%,
    rgb(80, 80, 80, 0) 70%,
    rgba(0, 0, 0, 0.3) 100%
  );
  border-bottom: 1px solid white;
  border-radius: 10px;
  transition: 0.7s;
  color: white;
}

.active {
  background: linear-gradient(
    180deg,
    rgb(80, 80, 80, 0) 0%,
    rgb(80, 80, 80, 0) 70%,
    rgba(0, 0, 0, 0.3) 100%
  );
  border-bottom: 1px solid white;
  border-radius: 10px;
  transition: 0.9s;
}
/* ==========================
         Text Formatting  
  ==========================*/
.banner-text {
  font-family: "Indie Flower", cursive;
  font-size: 10em;
  letter-spacing: 0.18em;

  line-height: 2;
  margin-left: 0.28em;
  margin: 0 10px 30px 10px;
}
.band-quote {
  font-family: "Caveat", cursive;
  text-align: center;
  font-size: 3em;
  color: white;
  position: absolute;
  bottom: 3em;
}
.band__description__title {
  font-size: 1.3em;
  text-decoration: underline;
}
.section-title {
  font-weight: 500;
  font-size: 1.8em;
  line-height: 2;
  margin: 0 10px 30px 10px;
  align-self: flex-start;
}
.fig-caption-font {
  font-weight: 200;
  font-style: italic;
}
.fig-caption-font {
  text-align: left;
  padding-top: 5px;
  margin-bottom: 20px;
}
.page-section {
  padding: 30px;
}
/* ==========================
         Main body  
  ==========================*/

#banner {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
  z-index: 0;
  background-image: url("../files/img/Banner_img2.jpg");
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;

  border-radius: 0 0 60% 60% / 0 0 10% 10%;

  -webkit-text-fill-color: rgba(
    255,
    255,
    255,
    0.5
  ); /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;

  height: 100vh;
}
#down-arrow {
  position: absolute;
  bottom: 40px;
  opacity: 0.6;
}
#down-arrow:hover {
  opacity: 1;
  transition: 0.9s;
}

.center-frame {
  max-width: 1200px;
  margin: 0 auto;
}
/* ==========================
         About div 
  ==========================*/
#section1 {
  scroll-margin-top: 2em;
  background: linear-gradient(
    180deg,
    rgb(244, 238, 237, 0.78%) 0%,
    rgb(244, 238, 237, 0.75) 22%,
    rgba(231, 206, 139, 0.4) 38%,
    rgb(152, 155, 131, 0.64) 74%,
    rgb(152, 155, 131, 0.75) 100%
  );
}

.band__description__content {
  margin: 20px 0;
}
#fig-members {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

#full-band {
  width: 50%;
  margin-bottom: 5px;
}

.band__description__row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.band__description__row:nth-child(odd) {
  flex-direction: row-reverse;
  text-align: right;
}

.article-content {
  width: 700px;
}
.band__description__row img {
  width: 250px;
  border: 1px solid black;
}

/* ==========================
        Gallery section  
  ==========================*/
#section2 {
  background: linear-gradient(
    360deg,
    rgb(244, 238, 237) 0%,
    rgb(244, 238, 237, 0.75) 22%,
    rgba(231, 206, 139, 0.4) 38%,
    rgb(152, 155, 131, 0.64) 74%,
    rgb(152 155 131 / 80%) 100%
  );
  scroll-margin-top: 4.35em;
  background-color: #f4eeed;
  border-bottom: 2px solid rgba(75, 75, 75, 0.514);
}

.img-area {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.single-image img {
  width: 200px;
  height: 200px;
  background-size: contain;
  overflow: hidden;
  border: 1px solid grey;
  /* border */
  padding: 2px;
  border-radius: 5px;
  background-color: lightgray;
}

.single-image img:hover {
  cursor: pointer;
  opacity: 0.5;
  transition: 0.9s;
}

.single-image {
  width: 200px;
  height: 200px;
  margin: 0 10px 10px;
}

/* ==========================
        Albums section  
  ==========================*/
#section3 {
  scroll-margin-top: 4.35em;
  box-shadow: inset 0px 61px 15px -50px rgba(46, 46, 46, 0.199);
  border-bottom: 2px solid rgba(75, 75, 75, 0.514);
  /* background-image: url("../files/img/tile2.png");
  background-repeat: repeat; */
  /* background-color: rgba(207, 203, 150, 0.322); */
}
#section3 .center-frame {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
#section3 .center-frame figure {
  position: relative;
}
#section3 .center-frame #img-map {
  max-width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.363);
  border-radius: 0.5em;
  position: relative;
}

/* Makkelijker/correcter met :before of :after */
#section3 .center-frame #arrow {
  width: 5%;
  transform: rotate(-50deg);
  position: absolute;
  left: -30px;
  top: -20px;
}
#section3 .center-frame #arrow-caption {
  font-family: "Indie Flower", cursive;
  font-size: 1.5em;
  position: absolute;
  left: 0px;
  top: -30px;
}

#section3 #album_content {
  overflow: hidden;
  width: 1200px;
  height: 400px;
}
/* ==========================
        Video section  
  ==========================*/
#section4 {
  scroll-margin-top: 4.35em;
  box-shadow: 1px -8px 21px 2px rgba(46, 46, 46, 0.199);
  /* box-shadow: 0px 7px 15px 17px  */
  background-color: rgba(255, 255, 255, 0.473);
}
.video-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
}
.video-container iframe {
  margin-bottom: 30px;
  border-radius: 10px;
  width: 560px;
  height: 315px;
  border: none;
}

/* ==========================
        Contact section  
  ==========================*/
#section5 {
  border-top: 2px solid rgba(75, 75, 75, 0.514);
}
.contact-container {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
}
.contact-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* Zodat de verticale border mooi in het midden zit */
  width: 45%;
  border-right: 2px solid rgba(0, 0, 0, 0.26);
}
.form-labels {
  margin-top: 0.4em;
}
.form-input {
  margin-top: 0.5em;
  width: 90%;
  padding: 0.5em;
}

#submit:hover {
  cursor: pointer;
}
.contact-form #message {
  resize: none;
}

.social-media {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-evenly;
}
.social-media-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  color: black;
}
.social-media-logo {
  display: block;
  margin-right: 1em;
  width: 10%;
}

#footer {
  background: url("../files/img/bg-image2.jpg");

  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: rgba(255, 255, 255, 0.504);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 20vh;
  box-shadow: inset 0px 6px 7px 0px rgba(0, 0, 0, 0.75);
}

/* VOOR BINNENKORT */
/* @media (max-width: 1000px) {
  .article-content {
    text-align: center;
  }
}
@media (max-width: 800px) {
  #section1 {
    scroll-margin-top: 14em;
  }
  #section2,
  #section3,
  #section4 {
    scroll-margin-top: 15.5em;
  }

  #header {
    background-color: rgb(22, 24, 23, 0.7);
  }
  #nav {
    flex-direction: column;
    align-items: center;
    border-bottom: 0px;

     transition: 1s; 
  }
  #nav-menu {
    width: 100%;
  }
  .menu-item {
    display: block;
    padding: 10px;
    margin: 0;
    width: 100%;
    text-align: center;
  }

  #banner {
    font-size: 2em;
  }
} */
